body{
	background-color: black;
	color: white;
	
}

.playWindow{
	background-color: dimgrey;
	margin: auto;
	width: 400px;
	height: 600px;
}

#playButton{
	background-color: #00409f;
	color: white;
	width: 200px;
	height: 30px;
	font-size: 20px;
	margin: 100px;
	margin-top: 230px;
}

.card{
	width: 4%;
	position: absolute;
}

#line{
	position: absolute;
	top: 340px;
	left: 0px;
	width: 100%;
	height: 2px;
}
